{% extends "base.html" %}

{% block content %}
  <div class="index-wrap1">
  <div class="art-title">Home | {{current_user.username}}</div>
  <hr>
  <div class="login-wrap2">
  <h1> Add Diary Post </h1>
  <form action = "" method = "post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.date.label(class_="form-item") }} <br>
      {{ form.date(size=18, class_="form-box") }} <br>
      {% for error in form.date.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.mood.label(class_="form-item") }} <br>
      {{ form.mood(size=18, class_="form-box") }} <br>
      {% for error in form.mood.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.post.label(class_="form-item") }} <br>
      {{ form.post(class_="form-big-box") }} <br>
      {% for error in form.post.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p> {{ form.submit(class_="form-button") }} </p>
  </form>
  </div>
  </div>
{% endblock %}
